<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yang.zhang.mapper.ChatMapper">

    <select id="oneDayChatLog" parameterType="org.yang.zhang.dto.RecentChatLogDto" resultType="org.yang.zhang.module.MessageInfo">
      select * from t_chatinfo
      where
      ((sourceclientid=#{id1} and targetclientid=#{id2})
      or
      (sourceclientid=#{id2} and targetclientid=#{id1}))
      and
      time between #{start} and #{end}
      order by time asc
    </select>

    <select id="oneMonthContract" resultType="org.yang.zhang.dto.RecentContract">
      SELECT
        msgcontent as lastMessage,
        time as lastMessageDate,
        sourceclientid as userId
        FROM
        (
            SELECT
                *
            FROM
                `t_chatinfo`
            where
               (sourceclientid=#{userid} or targetclientid=#{userid})
               and time between #{start} and #{end}
               and msgcontent!='REGEIST'
            ORDER BY
                time DESC
        ) t
        GROUP BY
            sourceclientid,
            targetclientid
    </select>
</mapper>