<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yang.zhang.mapper.ChatMapper">

    <select id="getFriendList" resultType="org.yang.zhang.entity.User">
        select
          u.id as id,
          u.name as name
          from t_friends tf
          left join t_user u on u.id=tf.user_id
          where tf.user_id=#{userId}

    </select>
</mapper>