<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yang.zhang.mapper.ChatMessageCustRepository">

    <select id="findUnsendChatMessage" resultType="org.yang.zhang.module.MessageInfo">
        select
        sourceclientId,
        targetclientId,
        msgtype,
        msgcontent,
        sendflag,
        time
        from t_chatinfo
        where sendflag=0 and targetclientId=#{clientId}
    </select>
</mapper>