<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yang.zhang.mapper.ChatRoomMapper">

    <select id="getUerChatRooms" resultType="org.yang.zhang.module.ChatRoom">
      SELECT
        tc.*
        FROM
            t_chatroom tc
        LEFT JOIN t_chatroom_user tcu ON tc.id = tcu.room_id
        WHERE
            tcu.user_id = #{id}
    </select>

    <select id="getChatRoomUsers" resultType="org.yang.zhang.module.User">
      SELECT
	  id,
	  nick_name as nickName,
	  icon_url as iconUrl,
	  person_word as personWord
    FROM
        t_user
    WHERE
        id IN (
            SELECT
                user_id
            FROM
                t_chatroom_member
            WHERE
                room_id = #{id}
        )
    </select>

    <select id="getRecentMessage" resultType="org.yang.zhang.dto.RoomChatInfoDto">
      SELECT
         trc.id as id,
         trc.room_id as roomId,
         trc.user_id as userId,
         trc.message as message,
         trc.message_time as messageTime,
         tu.icon_url as icon
        FROM
            t_room_chatinfo trc
            left join t_user tu on tu.id=trc.user_id
        WHERE
            room_id = #{id}
        ORDER BY
            message_time ASC
        LIMIT 0,100
    </select>
</mapper>