#usericon{
    -fx-border-insets:3;
    -fx-border-radius:7;
    -fx-border-width:4.0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

#personWord{
    -fx-font-size: 12;
    -fx-text-fill: grey;
}

#username{

}