#contractLabel{
    -fx-background-color: #A1BBD8;
}

#contractLabel:hover{
    -fx-background-color: #D1E0EF;
}

#contractTree .tree-cell {
    -fx-background-color: #A1BBD8;
}

#contractLabel:hover {
    -fx-background-color: #D2D8CC;
}

.tab-pane .headers-region {
    -fx-background-color: #A1BBD8;
}
.tab-pane .tab-header-background {
    -fx-background-color: #A1BBD8;
}
.tab-pane .tab-selected-line {
    -fx-stroke: #A1BBD8;
    -fx-stroke-width: 3pt;
}

.list-view .list-cell:even {
    -fx-background-color: #A1BBD8;;
    -fx-text-fill: #A1BBD8;;
}
.list-view .list-cell:odd {
    -fx-background-color: #A1BBD8;;
    -fx-text-fill: #A1BBD8;;
}

.list-view .list-cell:hover {
    -fx-background-color: #D2D8CC;;
    -fx-text-fill: #D2D8CC;;
}