#contractLabel{
    -fx-background-color: #A1BBD8;
}

#contractLabel:hover{
    -fx-background-color: #D1E0EF;
}

#contractTree .tree-cell {
    -fx-background-color: #A1BBD8;
}

#contractTree .tree-cell:hover {
    -fx-background-color: #D2D8CC;
}

#contractTree .:hover{
    -fx-background-color: #D2D8CC;
}