#minBtn{
    -fx-background-color: transparent;
    -fx-background-image:url("../images/icon/min.png");
    -fx-background-repeat: no-repeat;
}

#closeBtn{
    -fx-background-color: transparent;
    -fx-background-image:url("../images/icon/close.png");
    -fx-background-repeat: no-repeat;
}

#groupTab{
    -fx-background-position:center;
    -fx-background-image:url("../images/icon/contract-normal.png");
    -fx-background-repeat:no-repeat;
    -fx-pref-Width: 90px;
    -fx-pref-height:30px;
    -fx-text-alignment: center;
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-size: 23;
}

#groupTab:hover{
    -fx-background-image:url("../images/icon/contract-focus.png");
}

#messageTab{
    -fx-background-position:center;
    -fx-background-image:url("../images/icon/message-normal.png");
    -fx-background-repeat:no-repeat;
    -fx-pref-Width: 80px;
    -fx-pref-height:30px;
    -fx-text-alignment: center;
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-size: 23;
}

#messageTab:hover{
    -fx-background-image:url("../images/icon/message-focus.png");
}

#chatRoomTab{
    -fx-background-position:center;
    -fx-background-image:url("../images/icon/group-normal.png");
    -fx-background-repeat:no-repeat;
    -fx-pref-Width: 90px;
    -fx-pref-height:30px;
    -fx-text-alignment: center;
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

#chatRoomTab:hover{
    -fx-background-image:url("../images/icon/group-focus.png");
}

#nameLabel{
    -fx-font-size: 14;
}

#header{

}

#logo{

}
#personWord{
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-text-fill: black;
}
#searchField{
    -fx-background-color: rgba(255, 255, 255, 0);
}

#addFriendBtn{
    -fx-background-color: transparent;
    -fx-background-image: url("../images/icon/addFriend.png");
    -fx-background-repeat: no-repeat;
}

#systemBtn{
    -fx-background-color: transparent;
    -fx-background-image: url("../images/icon/system.png");
    -fx-background-repeat: no-repeat;
}

#root{
    -fx-background-image:url("../images/icon/bg.jpg");
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.list-cell {
    -fx-background-color: transparent;
}

.list-cell:hover .groupItem{
    -fx-background-color: #CFE8FF;
}
.list-cell:hover .contractLabel{
    -fx-background-color: #CFE8FF;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #E6CEAC;
    -fx-text-fill: black;
}


.list-view {
    -fx-padding: 10 0 0 0;
    -fx-background-color: transparent;
}

.tree-cell{
    -fx-background-color: transparent;
}

.tree-cell:filled:selected:focused .contractItem, .tree-cell:filled:selected .contractItem{
    -fx-background-color: #E6CEAC;
    -fx-text-fill: black;

}

.tree-cell:hover .contractItem{
    -fx-background-color: #CFE8FF;
}
.tree-cell:hover .groupItem{
    -fx-background-color: #CFE8FF;
}

.tree-view{
    -fx-padding: 10 0 0 0;
    -fx-background-color: transparent;
}

.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
}
.tab-pane *.tab- {
    -fx-background-color: transparent;
}

#footerBar{
    -fx-background-color: rgba(255, 255, 255, 0.3);
}


.tree-view *.scroll-bar:horizontal,
.tree-view *.scroll-bar:horizontal *.track,
.tree-view *.scroll-bar:horizontal *.track-background,
.tree-view *.scroll-bar:horizontal *.thumb,
.tree-view *.scroll-bar:horizontal *.increment-button,
.tree-view *.scroll-bar:horizontal *.decrement-button,
.tree-view *.scroll-bar:horizontal *.increment-arrow,
.tree-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-base: transparent;
    -fx-background-color: transparent;
}